/**
 * MicroTX Main CSS File
 * Created by: Danilo Zabala II
 * 2017
 */

@import '../../components/variables.css';

h1 {
  font-size: 24px;
  margin: 0px;
}
.Tangerine {
  color: #E37222;
}
.Teal {
  color: #07889B;
}
.Powder {
  color: #66B9BF;
}
.Tan {
  color: #EEAA7B;
}